
    body{
        background-color: #ffffff;
    }
    .homeButton{
      color: rgb(51, 51, 51);
      text-decoration: none;
      display: inline-block;
      margin-left: 90%; /*lætur þá báða fara út í hin endan*/
      padding: 8px; /*Gerir bil a milli linkana*/
      font-size: 17px;
      }
    a.homeButton:hover{color: #000000; font-weight: bold;}

    .aboutmeButton{
    color: rgb(51, 51, 51);
    text-decoration: none;
    font-size: 17px;
    }
    a.aboutmeButton:hover{color: #000000; font-weight: bold;}

    h2{
        text-align: center;
        color: #002533;
    }
    a{
      text-decoration: none;
      color: blue;
    }

    #introDiv{
      margin: auto;
      height: 300px;
      width: 800px;
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 20px;
      color: #002533;
    }

    #imageDiv{
      margin: auto;
      height:50%; 
      width:800px;
      padding: 20px;
      margin-top: 110px;
    }

    #closingDiv{
      margin: auto;
      height: 200px;
      width: 800px;
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 20px;
      color: #002533;
    }


