
    body{
        background-color: #ffffff;
    }

    .homeButton{
      color: rgb(51, 51, 51);
      text-decoration: none;
      display: inline-block;
      margin-left: 90%; /*lætur þá báða fara út í hin endan*/
      padding: 8px; /*Gerir bil a milli linkana*/
      font-size: 17px;
      }
      a.homeButton:hover{color: #000000; font-weight: bold;}
    
      .aboutmeButton{
      color: rgb(51, 51, 51);
      text-decoration: none;
      font-size: 17px;
      }
      a.aboutmeButton:hover{color: #000000; font-weight: bold;}
      
    h2{
        text-align: center;
        color: #2b2b2b;
        font-family: verdana, sans-serif;
        font-size: 45px;
    }
    h3{
      text-align: center;
      color: #2b2b2b;
      font-family: verdana, sans-serif;
      font-size: 25px;
    }
    a{
      text-decoration: none;
      color: rgb(45, 45, 45);
    }
    
    #linkImage{
      margin-left: 34%;  
      height:400px; 
      width:450px;
      visibility: visible;
    }
    .overlayDiv{
      background-color: #ffffff;
      opacity: 0.5;
      position: absolute;
      top: 72%;
      left: 52%;
      transform: translate(-50%, -50%);
      display: none;
    }
    .overlayText{
      padding: 1vw 4vw;
      font-size: 7vw;
      line-height: 1;
      color: #42413C2E;
      height: 196px;
      width: 360px;;
      text-align: center;
      vertical-align: middle;
      line-height: 90px;
      font-family: 'Retro Groovy', sans-serif;
                                             
    }
    #linkImage:hover linkImage{
      visibility: hidden;
    }
    #linkImage:hover .overlayDiv{
      visibility: visible;
    }

    #introDiv{
      margin: auto;
      height: auto;
      width: 800px;
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: #002533;
    }

    #project-grid{
      height: auto;
      text-align: center;
      font-size: 15px;
      padding: 10px;
      /*Placing div in the middle of the page*/
      max-width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }

    #grid-container{
      height: 50px;
      width: 110%;
      border-radius: 5px;
      display: grid;
      grid-template-columns: auto auto auto; /*makes it so that each grid item has a auto space for each column*/
    }

    #projectIntro{
      /*background-color: beige;*/
      padding: 10px;
      margin: 10px;
      border-radius: 20px;
    }
    #researchDiv{
      margin: auto;
      height: auto;
      width: 800px;
      text-align: center;
      font-size: 19px;
      color: #2c2c2c;
    }
    #researchContent{
      padding: 10px;
      color: #403f3f;
      width: 100%;
    }

    #personasDiv{
      margin: auto;
      height: auto;
      width: 100%;
      text-align: center;
      font-size: 19px;
      color: #2c2c2c;
    }

    #personasContent{
      padding: 10px;
      color: #403f3f;
      width: 100%;
      display: table;
    }

    #valuesDiv{
      margin: auto;
      height: auto;
      width: 100%;
      text-align: center;
      font-size: 19px;
      color: #2c2c2c;
    }

    #valuesContent{
      padding: 10px;
      color: #403f3f;
      width: 100%;
    }

    #parentGrid{
      height: 90px;
      width: 110%;
      border-radius: 5px;
      grid-template-columns: auto auto auto;
      display: flex;
      width: fit-content;
    }

    .child{
      background-color: #fef5e7;
      font-size: 18px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      margin: 10px; /*space between each frame*/
      padding: 13px; /*space within the frame*/
      width: fit-content;
      block-size: fit-content;
    }
    .child:hover{
      animation: wiggle 0.5s;
    }
      @keyframes wiggle{
        25%{
          transform: scale(0.7,1.4);
        }
      }

    #prototypeDiv{
      margin: auto;
      height: auto;
      width: 100%;
      text-align: center;
      font-size: 19px;
      color: #2c2c2c;

    }

    #prototypeContent{
      padding: 10px;
      color: #403f3f;
      width: 80%;
      display: inline-block; 
    }
