body{
    background-color: #ffffff;
}
h2{
    text-align: center;
    padding-top: 1px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    line-height: 1;
}
h3{
  padding-top: 10px;
}
.homeButton{
	color: rgb(51, 51, 51);
  text-decoration: none;
  display: inline-block;
  margin-left: 90%; /*lætur þá báða fara út í hin endan*/
  padding: 8px; /*Gerir bil a milli linkana*/
  font-size: 17px;
  }
  a.homeButton:hover{color: #000000; font-weight: bold;}

.aboutmeButton{
	color: rgb(51, 51, 51);
  text-decoration: none;
  font-size: 17px;
  }
  a.aboutmeButton:hover{color: #000000; font-weight: bold;}

#picDiv{
  margin: auto;
	height: 200px;
	width: auto;
}
.profilePic{
  height: 220px; width: 180px;
  border-radius: 40%;
  position: absolute;
  left: 43%;
  right: 50%;
  margin: auto;
 }

.socials{
  margin-left: 12px;
  margin-top: -10px;
  padding: 10px;
  width: 178px;
}
a{
  text-decoration: none;
  color: grey;
  font-size: 30px;
  padding: 5px;
  width: 30px;
  text-align: center;
  margin-left: 5px 2px;
  border-radius: 50%;
}
.fa-facebook{
  color: #3B5998;
}
.fa-instagram{
  color: #125688;
}
.fa-linkedin-in{
  color: #007bb5;
}
.fa-envelope{
  color: #b3e6eb
}
.fa-envelope:hover{
  opacity: 0.7;
}
.fa-brands:hover{
  opacity: 0.7;
}
#child-ba:hover{
  opacity: 0.7;
}
#child-ka:hover{
  opacity: 0.7;
}
#aboutDiv{
    height: 380px;
    margin-top: 30px; /* Gefur smá svigrúm a milli div*/
    margin-left: 90px;
    }
    .aboutText{
      height: auto;
      width: 46%;
      padding-left: 40px;
      padding-top: 10px;
      font-size: 20px;
      text-align: left;
      padding-inline: 20px;
    }
    .aboutPicDiv{
      height: 100%;
      width: 20%;
      float: right;
      margin-top: -500px;
      margin-right: 300px;
    }
    .sidePic{
      height: 100%; width: 100%;
      object-fit: contain;
    }
.headers{
  color: #002533;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20%;
}
.aboutEducationBox{
  margin: auto;
  background-color: #ebf1f8;
  height: auto;
  width: 680px;
  border-radius: 4px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #002533;
}
.parent-div{
  text-align: center;
  padding: 40px;
  margin: auto;
  height: 200px;
  width: auto;
  position: relative;
}
#child-ba{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  padding: 10px;
  background-color: #bacede;
  margin-left: 280px;
  float: left;
  border: none;
}
#child-ka{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  padding: 10px;
  background-color: #b7c1e1;
  margin-right: 280px;
  float: right;
  border: none;
}

.parent-div p{
  font-size: 15px;
  color: #002533;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  padding-left: 28px;
  padding-top: 4px;
}
#BA{
  height: auto;
  width: 500px;
  background-color: #bacede;
  position: absolute; /*made the element go over the child-divs*/
  text-align: center;
  left: 1px; top: 210px;
  border-radius: 4px;
  display: none;
}
.pointer-ba{
  height: 40px;
  width: 40px;
  background: #bacede;
  margin: 0 auto;
  transform: rotate(45deg);
  border-radius: 0 0 12px 0;
  margin-top: -22px;
  position: relative;
  top: -114px;
  left: 148px;
}
#KA{
  height: auto;
  width: 500px;
  background-color: #b7c1e1;
  position: absolute; /*made the element go over the child-divs*/
  text-align: center;
  right: 1px; top: 210px;
  border-radius: 4px;
  display: none;
}
.pointer-ka{
  height: 40px;
  width: 40px;
  background: #b7c1e1;
  margin: 0 auto;
  transform: rotate(45deg);
  border-radius: 0 0 12px 0;
  margin-top: -22px;
  position: relative;
  top: -114px;
  left: -148px;
}

.semesters{
  background-color: #b7c1e1;
  margin: 30px;
  padding: 2rem;
  border-radius: 4px;
}
.subjects{
  padding: 5px;
  margin: 10px;
  background-color: #bacede;
  border-radius: 4px;
}
