body{
	background-color: #ffffff;
  }
  h2{
	text-align: center;
	padding-top: 20px;
  }
  .homeButton{
	color: rgb(51, 51, 51);
  text-decoration: none;
  display: inline-block;
  margin-left: 90%; /*lætur þá báða fara út í hin endan*/
  padding: 8px; /*Gerir bil a milli linkana*/
  font-size: 17px;
  }
  a.homeButton:hover{color: #000000; font-weight: bold;}

  .aboutmeButton{
	color: rgb(51, 51, 51);
  text-decoration: none;
  font-size: 17px;
  }
  a.aboutmeButton:hover{color: #000000; font-weight: bold;}

  #picDiv{
	margin: auto;
	height: 200px;
	width: auto;
  }
  .profilePic{
   height: 200px; width: 160px;
   border-radius: 40%;
   position: absolute;
   left: 43%;
   right: 50%;
   margin: auto;
  }
  .socials{
    text-align: center;
  }
  a{
    text-decoration: none;
    color: grey;
    font-size: 30px;
    padding: 5px;
    width: 30px;
    text-align: center;
    margin-left: 5px 2px;
    border-radius: 50%;
  }
  .fa-facebook{
    color: #3B5998;
  }
  .fa-instagram{
    color: #125688;
  }
  .fa-linkedin-in{
    color: #007bb5;
  }
  .fa-envelope{
    color: #b3e6eb
  }
  .fa-envelope:hover{
    opacity: 0.7;
  }
  .fa-brands:hover{
    opacity: 0.7;
  }
  .project-container{
    height: 400px;
    width: 80%;
    margin: auto;
  }
  .project-child{
    height: 180px;
    width: 140px;
    background-color: rgb(219, 224, 232);
    text-decoration: none;
    padding: 5rem;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    float: left;
    position: relative;
  }
  a :hover{
    color: #ffffff;
  }


  .hide{
    height: 340px;
    width: 300px;
    border-radius: 4px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: hidden;
  }