
    body{
        background-color: #ffffff;
       /*  background-image: linear-gradient(rgb(250, 253, 253), rgb(216, 135, 245));; */
    }
    .homeButton{
      color: rgb(51, 51, 51);
      text-decoration: none;
      display: inline-block;
      margin-left: 90%; /*lætur þá báða fara út í hin endan*/
      padding: 8px; /*Gerir bil a milli linkana*/
      font-size: 17px;
      }
    a.homeButton:hover{color: #000000; font-weight: bold;}

    .aboutmeButton{
    color: rgb(51, 51, 51);
    text-decoration: none;
    font-size: 17px;
    }
    a.aboutmeButton:hover{color: #000000; font-weight: bold;}

    h2{
      text-align: center;
      color: rgb(51, 51, 51);
      font-family: Georgia, Times, "Times New Roman", serif; 
      font-size: 21px; 
      font-style: normal; 
      font-variant: normal; 
      font-weight: 700; 
      line-height: 12.6px;
    }

    h3{
      text-align: center; 
      color: rgb(77, 76, 76); 
      font-size: 25px;
    }
    a{
      text-decoration: none;
      color: blue;
    }    
    
    #abstractDiv{
      height: 380px;
      width: 90%;
    }    
    .abstractImg{
      height: 360px;
      width: 700px;
      position: absolute;
      left: 250px;
      margin: 20px;
    }

    #describtionDiv{
      height: 200px;
      width: 80%;
      text-align: center;
      margin-left: 120px;
      font-size: 21px;
      padding: 20px;
    }
    #grid-container{
      height: 50px;
      width: 100%;
      background-color: rgb(235, 198, 255);
      border-radius: 5px;
      display: grid;
      grid-template-columns: auto auto auto;
    }
    #grid-item{
      background-color: #ffffff;
      text-align: center;
      border-radius: 10px;
      width: 250px;
      margin: 10px;
      margin-left: 30px;
    }

    #StoryboardDiv{
      height: 300px;
      width: 1100px;
      display: inline-block;
      margin-left: 80px;
/*       background-color: aquamarine; */
    }

    #researchDiv{
      margin: auto;
      height: 600px;
      width: 800px;
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 20px;
      position: relative;
    }
    .usabilityTtext{
      font-size: 20px; 
      width: 650px; 
      display: inline-block;
    }

    .participants{
      height: 200px;
      width: 45%;
      background-color: aqua;
      float: right;
      position: absolute;
      margin: 9px;
    }

    .interviews{
      height: 200px;
      width: 45%;
      background-color: rgb(137, 247, 28);
      display: inline-block;
      margin: 9px;
      position: absolute;
    }

/*     .vl{
      border-left: 6px solid green;
      height: 60px;
      margin-left: 50%;
    } */

    .taskParent{
      font-size: 18px; 
      width: 800px;
      height: 400px;
      display: grid;
      grid-template-columns: 85px 10px;   
      margin: 10px;
      padding: 10px;
      text-align: center;
    }
    .taskChild{
      height: 50px;
      width: 50px;
      border: 1px solid rgb(102, 102, 102);;
      padding: 1rem 1rem;
    }
    .taskChild:nth-child(2){
      background-color: rgb(217, 217, 18);
      width: 390px; 
    }
    .taskChild:nth-child(4){
      background-color: rgb(15, 252, 46);
      width: 390px; 
    }
    .taskChild:nth-child(6){
      background-color: rgb(0, 119, 255);
      width: 390px; 
    }
    .taskChild:nth-child(8){
      background-color: rgb(204, 0, 255);
      width: 390px; 
    }

